
@{
    ViewData["Title"] = "Info";
}

<p>Triangle:</p>
<p>@ViewBag.Side1, @ViewBag.Side2, @ViewBag.Side3</p>
<p>Reduced:</p>
<p>@ViewBag.Side1Perimetr, @ViewBag.Side2Perimetr, @ViewBag.Side3Perimetr</p>
<p>Area: @ViewBag.Area</p>
<p>Perimeter: @ViewBag.Perimetr</p>

